body
{
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

.card
{
    background-color: hsl(216, 50%, 16%);
    border: 1px;
    border-radius: 10px;
    padding: 0 40%;
}

.container
{
    color: hsl(215, 51%, 70%);
    padding: 20px;
}

.item-container
{
}

.item-container img
{
    border-radius: 10px;
}

.name-container
{
    color: hsl(0, 0%, 100%);
    font-size: 110%;
    font-weight: 600;
}

.info-container
{
    font-weight: 300;
}

.detail-container
{
    font-size: 80%;
    padding: 10px;
}

.detail-container .price
{
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

hr
{
    border: 0.05px solid #ffffff98;
}

.creator-container
{
    font-weight: 300;
}

.creator-container .name
{
    color: #ffffff;
}

.attribution
{
    color: hsla(0, 0%, 100%, 0.9) ;
}

.attribution a:link
{
    color:hsl(178, 100%, 50%);
}

.attribution a:visited
{
    color:hsl(178, 100%, 50%);
}