body
{
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

.card
{
    border: 1px;
    margin-left: 40%;
    margin-top: 5%;
    width: 350px;
    height: 500px;
}

.container
{
    background-color: hsl(216, 50%, 16%);
    color: hsl(215, 51%, 70%);
    padding: 25px;
    border-radius: 10px;
}

.item-container
{
}

.item-container img
{
    border-radius: 10px;
}

.name-container
{
    color: hsl(0, 0%, 100%);
    font-size: 120%;
    font-weight: 600;
}

.name-container p:hover
{
    color:hsl(178, 100%, 50%);
}

.info-container
{
    font-weight: 300;
}

.detail-container
{
    font-size: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.detail-container table
{
    width: 300px;
}

.detail-container img
{
    vertical-align: -4px;
    padding-right: 2px;
}

.detail-container .price
{
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

.detail-container .time
{
    text-align: right;
    font-size: 90%;
}

hr
{
    border: 0.05px solid #ffffff98;
}

.creator-container
{
    font-weight: 300;
    font-size: 90%;
    padding-top: 10px;
}

.creator-container img
{
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    vertical-align: -10px;
    margin-right: 10px;
    margin-left: 10px;
}

.creator-container a
{
    color: #ffffff;
}

.creator-container a:hover
{
    color: hsl(178, 100%, 50%);
}

.attribution
{
    position: absolute;
    bottom: 0px;
    left: 40%;
    color: hsla(0, 0%, 100%, 0.9);
    font-size: 11px;
}

.attribution a
{
    color:hsl(178, 100%, 50%);
}